<!-- Start Pricing Table Section -->
<section class="section bg-white-liac">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Pricing</h2>
      <hr class="lines">
    </div>

    <div class="row pricing-tables">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Initial</h2>
            <span>$240</span>
            <ul>
              <li>First appointment</li>
              <li>60 minutes</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Get Plan</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Subsequent</h2>
            <span>$200</span>
            <ul>
              <li>Regular subsequent</li>
              <li>40 minutes</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table">
          <div class="pricing-details">
            <h2>Extended</h2>
            <span>$240</span>
            <ul>
              <li>Longer subsequent</li>
              <li>60 minutes</li>
            </ul>
          </div>
          <div class="plan-button">
            <a href="#" class="btn btn-common">Buy Now</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
